body {
  font-family: "Fjalla One", sans-serif;
  background-color: #fafafa;
}
.pokedex__title {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-bottom: none;
  font-size: 34px;
}
.pokedex__structure {
  max-width: 480px;
  min-width: 300px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: #bda1a1;
  height: 100%;
  
}

@media (min-width: 481px) {
  .pokedex__structure {
    background-color: red;
    margin-top: 0px;
    width: 100%;
    max-width: 500px;
    
  }
}

@media (min-width: 1025px) {
  .pokedex__structure {
    margin-top: 0;
    background-color: blue;
    max-width: 30%;
    width: 100%;
    margin-top: 60px;
  }
}
.pokedex__header {
  display: flex;
}
.pokedex__pokeball {
  width: 30px;
  height: 30px;
  align-self: center;
}
#buttonFavorite{
  display: flex;
  position: relative;
  top: 0;
  right: 0px;
  width: 80px;
  height: 40px;
  margin-left: 30px;
  margin-top: 30px;
}
.pokemon__info {
  width: 100%;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#PokemonNumber {
  display: flex;
  font-style: italic;
  color: #888080;
  justify-content: center;
}
#pokemonName {
  font-size: 20px;
  font-weight: 800;
  margin-left: 50px;
}
#pokemonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.pokemon__img {
  justify-content: center;
}
#pokemonImage {
  width: 300px;
  height: 300px;
}

#search {
  width: 60%;
  height: 50px;
  font-size: 32px;
}
#button {
  width: 20%;
  height: 56px;
  background-color: #ff4343;
}

.pokedex__form {
  display: flex;
  justify-content: center;
}
.pokedex__showShiny {
  margin-left: 10%;
  
}
#pokemonEvolutions {
  display: flex;
  justify-content: space-around;
}
input:hover {
  background-color: #c5c8c9;
}
input:focus {
  background-color: #fafafa;
}
button:hover {
  color: aliceblue;
}
button:focus {
  color: #8b0000;
}

#pokemonType {
  width: 25%;
  margin-right: -70px;
}
.pokedex__favorite{
  margin-bottom: 50px;
  margin-left: 2rem;
}
.pokedex__type--grass {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #149b38;
  font-weight: 300;
}
.pokedex__type--poison {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #cc66ff;
  font-weight: 300;
}
.pokedex__type--fire {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #8b0000;
  font-weight: 300;
}
.pokedex__type--flying {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #c5c8c9;
  font-weight: 300;
}
.pokedex__type--water {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #197fba;
  font-weight: 300;
}
.pokedex__type--bug {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #68b66d;
  font-weight: 300;
}
.pokedex__type--normal {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: gray;
  font-weight: 300;
}
.pokedex__type--electric {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #e8dc30;
  font-weight: 300;
}
.pokedex__type--ground {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #b28c40;
  font-weight: 300;
}
.pokedex__type--fairy {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #ff8ef5;
  font-weight: 300;
}
.pokedex__type--fighting {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #ff8900;
  font-weight: 300;
}
.pokedex__type--psychic {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #f92bff;
  font-weight: 300;
}
.pokedex__type--rock {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #996633;
  font-weight: 300;
}
.pokedex__type--steel {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #c0c0c0;
  font-weight: 300;
}
.pokedex__type--ice {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #00bfff;
  font-weight: 300;
}
.pokedex__type--ghost {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #70369c;
  font-weight: 300;
}
.pokedex__type--dragon {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #ff5858;
  font-weight: 300;
}
.pokedex__type--dark {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fafafa;
  padding: 10px;
  text-align: center;
  width: 100px;
  border-radius: 40%;
  background-color: #303030;
  font-weight: 300;
}
